.header-left{ float:right !important;}
.header-logo{width:120px;margin-top:20px;margin-bottom:10px;}
.header-logout{float:right !important;}
.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .header-logout mat-icon {color: #3f51b5 !important;cursor: pointer;}
  