<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <mat-toolbar-row>
    <span><a href="/"><img src = "../../assets/images/OMRON_Logo.svg.png" alt = "OMRON" class="header-logo" ></a></span>
    <span class="example-spacer"></span>
    <a mat-button  routerLink="/login" class="header-logout" matTooltip="Logout"><mat-icon>exit_to_app</mat-icon></a>
  </mat-toolbar-row>
</mat-toolbar>
