<div class = "upload-content">
    <div class="popup-close"><label for="singleFile" class="upload-label">Upload file</label><span class="close-icon"><mat-icon (click)="close()" >cancel</mat-icon></span></div>
    <hr>
    <br> <br>
    <input id="singleFile" type="file" [fileUploadInputFor]= "fileUploadQueue"  class="upload-input" />
    <br>
    
    <mat-file-upload-queue #fileUploadQueue
        [fileAlias]="'file'"
        [httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'">
    
        <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
    </mat-file-upload-queue>

    <mat-card-actions class="upload-action">
        <button mat-raised-button (click)="openPriceDialog()" mat-dialog-close color="primary">Execute</button>
    </mat-card-actions>
</div>
