<p>Estimated time is "XXX minutes".</p>
<p> Estimated cost is "$XXX".</p> 
<h5>Do you want execute?</h5>

<button mat-raised-button (click)="openPriceDialog()" class = "button-execute"  mat-dialog-close color="primary">Yes</button>
<button mat-raised-button (click)="openPriceDialog()" class = "button-close" mat-dialog-close color="warn">No</button>
