
.login-div{ margin: auto;width:25%;padding-bottom: 40px; text-align:center;   background-clip: border-box;
    border: 1px solid #c8ced3;}
.login-div h1{color:#000;}
p {    color: #73818f!important;}
.login-content{margin-top: 10%;}
.login-page {background:#e4e5e6;}
.login-page { display: flex; align-items: center; justify-content: center; height: 100%; position: relative;
    .content { z-index: 1; display: flex; align-items: center; justify-content: center; }
    &:after { content: ''; background: #fff; position: absolute; top: 0; left: 0; bottom: 50%;right: 0;}
    &:before {content: '';background: #3f51b5;position: absolute;top: 50%;left: 0;bottom: 0;right: 0;}
}
.text-center {font-family: Exo;color: #fff; font-weight: 500;}
.login-card{background:#fff;}
.login-input { width:100%;   border-radius: .5rem; font-size: 1rem; padding: .75rem 1.125rem; background-color: #37317a !important; border: 2px solid #342e73; color: #fff; overflow: visible;}
.login-button{background: #20a8d8;}
.login-label > span{margin-top:5px;}
.mat-card-actions{ margin-bottom: 0; padding: 0; }
