  <div class="login-page"  ng-app="myApp"  ng-controller="GlobalCtrl">
    <mat-card class="login-card login-div" >
              <h1 class="text-center">Login</h1>
              <p>Sign in to your account</p>
            <mat-card-content>
             <form class="login-form">
                  <mat-form-field appearance="outline">
                      <mat-icon matPrefix>perm_identity</mat-icon>
                      <mat-label>Username</mat-label>
                      <input matInput  [(ngModel)]="username" name="username" required placeholder="Username">              
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-icon matPrefix>lock</mat-icon>
                        <mat-label>Password</mat-label>
                        <input  [(ngModel)]="password"   type="password" name="password" required matInput placeholder="Password">              
                      </mat-form-field>
              </form>
              <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="login()" class="login-button" color="primary">Login</button>
            </mat-card-actions>  
    </mat-card>
  </div> 

  
