.table-dashboard{
    margin-top:30px;
    margin-bottom:30px;
    padding:20px;width: 100%;
}
.table-dashboard tr td{
    padding:10px;
    text-align:center;
}
.tab-content{
    padding-top:20px;
}
.input-dashbord{
    width:20%;
}
.actions-dashboard .header-action{text-align: right;    margin-top: -20px;}
.actions-dashboard h3{text-align: left; margin: 0; font-weight:500;}
.user-span mat-icon {color: #3f51b5 !important;cursor: pointer;}
 
.table-scroll {	position:relative;	margin:auto;	}
.table-wrap {	width:100%;	overflow:auto;}
.table-scroll table {width:100%;margin:auto;border-collapse:separate;border-spacing:0;}
.table-scroll th, .table-scroll td {	padding:5px 10px;	background:#fff;	white-space:nowrap;	vertical-align:top;}
.table-scroll thead, .table-scroll tfoot {	background:#f9f9f9;}
.clone {position:absolute;	top:0;	left:0;	pointer-events:none;}
.clone th, .clone td {visibility:hidden}
.clone td, .clone th {	border-color:transparent}
.clone tbody th {visibility:visible;color:red;}
.clone .fixed-side {background:#eee;visibility:visible;}
.clone thead, .clone tfoot{background:transparent;}
.main-table{text-align: center;}