<app-header></app-header>
<div class="user-dashboard">
    <mat-card>
        <mat-card>
          <mat-card-content>
            <div class="dashboard-header"> 
              <mat-card-actions class="actions-dashboard">
                  <h3>Change Contents</h3>  
                <div class="header-action">
                    <mat-checkbox>All Setting</mat-checkbox>
                    <button mat-raised-button (click)="save()" color="primary">Save</button>
                    <button mat-raised-button (click)="load()" color="primary">Load</button>
                    <button mat-raised-button (click)="openUploadDiaglog()" color="primary">Change</button>
                </div>                
              </mat-card-actions> 
            </div>
                   
            <mat-tab-group>
                <mat-tab  label="{{tab.Name}}" *ngFor="let tab of arrTabs">
                    <table mdbTable mdbTableScroll  scrollX="true"  maxWidth="400" class="mat-elevation-z8 table-dashboard" *ngIf="arrTabs">
                        <tr >               
                            <td ><b> {{tab.Name}}</b></td>                  
                            <td *ngFor="let item of columns"><input type="number" ng-model="entity.isChecked" class="input-dashbord" ng-change="selectEntity()"></td>
                            <td><span class="user-span" (click)="addMore()"  matTooltip="Add More"><mat-icon>add_box</mat-icon></span></td>
                       </tr>
                       <tr  *ngFor="let operation of arrOperations">               
                          <td >{{operation.Name}}</td>                  
                          <td *ngFor="let item of columns"><input type="checkbox" ng-model="entity.isChecked" ng-change="selectEntity()"></td>                  
                      </tr>
                    </table>
                </mat-tab> 
            </mat-tab-group>
            <mat-tab-group>
                <mat-tab  label="{{tab.Name}}" *ngFor="let tab of arrTabs">
                    <div id="table-scroll" class="table-scroll" ng-app="classApp" ng-controller="classCtrl">
                        <div class="table-wrap">
                          <table class="main-table">
                            <thead>
                                <tr>
                                  <th class="fixed-side" scope="col"> {{tab.Name}}</th>
                                  <th *ngFor="let item of columns"  scope="col"><input type="number" ng-model="entity.isChecked" class="input-dashbord" ng-change="selectEntity()"></th>
                                  <th  scope="col"><span class="user-span" (click)="addMore()"  matTooltip="Add More"><mat-icon>add_box</mat-icon></span></th>
                                </tr>
                              </thead>
                            <tbody>                              
                                <tr  *ngFor="let operation of arrOperations">  
                                    <th class="fixed-side">{{operation.Name}}</th>                        
                                    <td *ngFor="let item of columns"><input type="checkbox" ng-model="entity.isChecked" ng-change="selectEntity()"></td>                  
                                </tr>
                            
                            </tbody>
                            
                          </table>
                        </div>
                      </div>
                </mat-tab> 
            </mat-tab-group>

          </mat-card-content>
        </mat-card>
      </mat-card>  


</div>
